<%- include("./partials/header") %>

<div style="padding-top: 50px;">
    <% posts.forEach(function(post){ %>
    <div class="container"
        style="font-size: 20px; padding: 20px; margin: 20px; border: 3px solid black; background-color: lightgreen; border-radius: 20px">
        <p><%- post.text %></p>
        <a href="/<%= post.author._id %>/profile"> - <%= post.author.username %></a>
        <form action="/<%= post._id %>/increaseLike" method="POST">
            <button>
                <i class="glyphicon glyphicon-heart" style="color:red"> </i>
            </button>
            <%= post.likes.number %>
        </form>
        <form action="/<%= post._id %>/addComment" method="POST">
            <input type="text" name="comment_text" placeholder="comment">
            <button class="btn btn-info">Comment</button>
        </form>
        <hr>
        <h4>Comments:</h4>
        <% post.comments.forEach(function(comment){ %>
        <div style="font-size: 20px;margin:3px; border:1px solid black; padding: 5px; border-radius: 20px">
            <p>
                <a href="/<%= post.author._id %>/profile">@<%= post.author.username %></a>
                &nbsp; &nbsp;
                <%= comment.text %>
            </p>
            <p>by - <a href="/<%= comment.author._id %>/profile"><%= comment.author.username %></a></p>
            <form action="/<%= comment._id %>/commentLike" style="float: left;" method="POST">
                <button>
                    <i class="glyphicon glyphicon-heart" style="color:red"> </i>
                </button>
                <%= comment.likes.number %>
            </form>

            <form action="/<%= comment._id %>/<%= comment.author._id %>/addInnerComment" method="POST">
                <input type="text" name="comment_text" placeholder="comment">
                <button class="btn btn-success">Comment</button>
            </form>
            <% comment.innerComments.forEach(function(innerC){ %>
            <div style="margin-left: 40px; border:1px solid green; border-radius: 20px; padding: 5px;">
                <a href="<%= innerC.Tauthor._id %>/profile/">@<%= innerC.Tauthor.username %></a>
                <p><%= innerC.text %></p>
                <a href="<%= innerC.Fauthor._id %>/profile/">-<%= innerC.Fauthor.username %></a><br>
                <form action="/<%= innerC._id %>/innerCommentLike" method="POST" style="float: left;">
                    <button>
                        <i class="glyphicon glyphicon-heart" style="color:red"> </i>
                    </button>
                    <%= innerC.likes.number %>
                </form>
                <form action="/<%= comment._id %>/<%= innerC.Fauthor._id %>/addInnerComment" method="POST">
                    <input type="text" placeholder="comment" name="comment_text">
                    <button class="btn btn-info">comment</button>
                </form>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </div>
    <% })%>
</div>
<% if(flag){ %>
<script>alert('You must a have a reputation greater than 10 inks for upvoting')</script>
<% } %>

<%- include("./partials/footer") %>