<%- include("./partials/header") %>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@577&display=swap" rel="stylesheet"
    rel="stylesheet">
<style>
    .card {
        -webkit-box-shadow: 0px 10px 10px #de1dde;
        -moz-box-shadow: 0px 10px 10px #de1dde;
        box-shadow: 0px 16px 16px rgb(60, 117, 163);
        margin-right: 10%;
        margin-left: 5%;
        margin-bottom:5%;
        overflow: auto;
        max-height: 400px;
        font-family: 'Pacifico', cursive;
        background-color: white;
        padding: 10px;
    }

    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #E5E4E2;
        overflow-x: hidden;
        padding-top: 50px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px;
        /* Same as the width of the sidenav */
        font-size: 20px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 65px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    .button {
        border: none;
        color: white;
        padding: 3px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 3px;
    }

    #outer {
        width: 180%;
        text-align: center;
    }

    .inner {
        display: inline-block;
    }


    .button4 {
        background-color: #e7e7e7;
        color: black;
    }

    .button5 {
        /*background-color: #555555;*/
        background: #ec008c;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    input{
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
        border-bottom: 2px solid lightblue;
        background-color: rgba(0, 0, 0, 0);
    }
    .btn-info,.btn-success{
        width: 80px;
        height: 30px;
    }

    .comment-div{
        max-height: 250px;
        overflow: auto;
        background: #e65c00;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    body{
        background: #076585;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .alphabeauty{
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: 'Pacifico', cursive;
    }
</style>

<div class="sidenav alphabeauty">
    <h3 style="color: rgba(255,255,255,0.4);text-align: center;margin-right: 15px;">Tags</h3>
    <% tagsList.forEach(function(tag){ %>
        <a href="/search/<%= tag[0]%>">
            <%if(currentSearch == tag[0]){ %>
                <span style="color:white"><%= tag[0] %></span>
            <%}else{ %>
                <%= tag[0] %>
            <% } %>
        </a>
    <% })%>
</div>

<div class="main">
    <% posts.forEach(function(post){ %>

    <div class="card">
        <p><%- post.text %></p>
        <div class="card-header">
            <% post.tag.forEach(function(tag){%>
            <button class="button button5"><%= tag %></button>
            <% }) %>



        </div>
        <div class="card-body">
            <h3> <a href="/<%= post.author._id %>/profile" style="font-size: 20px;"> Posted by <%= post.author.username %></a>
            </h3>

        </div>
        <div class="card-footer">
            <form action="/<%= post._id %>/increaseLike" method="POST">
                <button style="border: none; background-color: rgba(0, 0, 0, 0);">
                    <i class="glyphicon glyphicon-heart" style="color:red;height: 30px;"></i>
                </button>
                <%= post.likes.number %>
            </form>
            <form action="/<%= post._id %>/addComment" method="POST">
                <input type="text" name="comment_text" placeholder="comment" style="border-bottom: 2px solid rgba(0,0,0,0.75);">
                <button class="btn btn-info">Comment</button>
            </form>
            <hr>
            <h4>Comments:</h4>
            <% post.comments.forEach(function(comment){ %>
            <div style="font-size: 15px;margin:10px; padding: 5px; border-radius: 10px; background-color: rgba(0, 0, 0, 0.75); color: white;" class="comment-div">
                <p>
                    <a href="/<%= post.author._id %>/profile">@<%= post.author.username %></a>
                    &nbsp; &nbsp;
                    <%= comment.text %>
                </p>
                <p>by - <a href="/<%= comment.author._id %>/profile"><%= comment.author.username %></a></p>
                <form action="/<%= comment._id %>/commentLike" style="float: left;" method="POST">
                    <button style="border: none; background-color: rgba(0, 0, 0, 0);">
                        <i class="glyphicon glyphicon-heart" style="color:red"> </i>
                    </button>
                    <%= comment.likes.number %> &nbsp;&nbsp;
                </form>

                <form action="/<%= comment._id %>/<%= comment.author._id %>/addInnerComment" method="POST">
                    <input type="text" name="comment_text" placeholder="comment">
                    <button class="btn btn-success">Comment</button>
                </form>
                <% comment.innerComments.forEach(function(innerC){ %>
                <div style="margin-left: 40px; border:1px solid white; border-radius: 10px; padding: 5px; margin-top: 5px; margin-bottom: 5px;">
                    <a href="<%= innerC.Tauthor._id %>/profile/">@<%= innerC.Tauthor.username %></a>
                    <p><%= innerC.text %></p>
                    <a href="<%= innerC.Fauthor._id %>/profile/">-<%= innerC.Fauthor.username %></a><br>
                    <form action="/<%= innerC._id %>/innerCommentLike" method="POST" style="float: left;">
                        <button style="border: none; background-color: rgba(0, 0, 0, 0); ">
                            <i class="glyphicon glyphicon-heart" style="color:red;"> </i>
                        </button>
                        <%= innerC.likes.number %>&nbsp;&nbsp;
                    </form>
                    <form action="/<%= comment._id %>/<%= innerC.Fauthor._id %>/addInnerComment" method="POST">
                        <input type="text" placeholder="comment" name="comment_text">
                        <button class="btn btn-info">comment</button>
                    </form>
                </div>
                <% }) %>
            </div>
            <% }) %>
        </div>

    </div>
    <% })%>
    <% if(flag){ %>
    <script>alert('You must a have a reputation greater than 10 inks for upvoting')</script>
    <% } %>
</div>
<%- include("./partials/footer") %>