<%- include("./partials/header") %>
<% if(flag=="1"){ %>
<h3 style="color: white; text-align: center;">Followers</h3>
<% user.followers.users.forEach(function(author){ %>
<div class="card" style="width: 18rem;">
  <a href="/<%= author._id %>/profile"><%= author.username %></a>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p>followers- <%= author.followers.number %></p>
    </li>
    <li class="list-group-item">
      <p>following- <%= author.following.number %></p>
    </li>
  </ul>
</div>
<% }) %>
<% }else{ %>
<h3 style="color: black; text-align: center;">Following</h3>
<% user.following.users.forEach(function(author){ %>
<div class="card" style="width: 18rem;">
  <a href="/<%= author._id %>/profile"><%= author.username %></a>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p>followers- <%= author.followers.number %></p>
    </li>
    <li class="list-group-item">
      <p>following- <%= author.following.number %></p>
    </li>
  </ul>
  <% if(isCurrentUser){ %>
  <form action="/unfollow/<%= author._id%>" method="POST">
    <button class="btn btn-danger">Unfollow</button>
  </form>
  <% } %>
</div>
<%  }) %>
<% } %>




<%- include("./partials/footer") %>