<%- include("./partials/header") %>

<div style="margin-top:100px; width: 150px; margin-left: 40%;">
  <% if(flag=="1"){ %>
  <h3 style="color: white; text-align: center;">Followers</h3>
  <% user.followers.users.forEach(function(author){ %>
  <div style="border: 2px solid white; margin: 10px;">
    <a href="/<%= author._id %>/profile"><%= author.username %></a>
    <p>followers- <%= author.followers.number %></p>
    <p>following- <%= author.following.number %></p>
  </div>
  <% }) %>
  <% }else{ %>
  <h3 style="color: white; text-align: center;">Following</h3>
  <% user.following.users.forEach(function(author){ %>
  <div style="border: 2px solid white; margin: 10px;">
    <a href="/<%= author._id %>/profile"><%= author.username %></a>
    <p>followers- <%= author.followers.number %></p>
    <p>following- <%= author.following.number %></p>
  </div>
  <%  }) %>
  <% } %>
</div>
<%- include("./partials/footer") %>