<%- include("./partials/headerprofile") %>
<style>
    .card {
        -webkit-box-shadow: 0px 10px 10px #de1dde;
        -moz-box-shadow: 0px 10px 10px #de1dde;
        box-shadow: 0px 16px 16px rgb(60, 117, 163);
        margin-right: 10%;
        margin-left: 5%;
        overflow: auto;
        max-height: 400px;
        font-family: 'Pacifico', cursive;
        background: #00c6ff;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color:white;
        padding: 20px;
        font-size: 20px;
    }

    .button {
        border: none;
        color: white;
        padding: 3px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 2px 2px;
        cursor: pointer;
    }

    #outer {
        width: 180%;
        text-align: center;
    }

    .inner {
        display: inline-block;

    }

    .button4 {
        background: #FFB75E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 20px;
    }

    .button5 {
        background: #ec008c;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 20px;
        border-radius: 4px;
    }

    body{
        font-family: 'Pacifico', cursive;
        font-size: 20px;
    }

    hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    }
</style>
<div class="container bootstrap snippet">
    <div class="row">
        <!-- BEGIN USER PROFILE -->
        <div class="col-md-12">
            <div class="grid profile">
                <div class="grid-header">
                    <div class="col-xs-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1P9NIBPbZvN_8V2uZ8cVfm4Rnwwel8_UF_89HT238qUQAOZ1p&usqp=CAU"
                            class="img-circle" alt="">
                    </div>
                    <div class="col-xs-7">
                        <h3><%= user.username %></h3>
                        <p><%= user.email %></p>
                        <p><%= user.desc %></p>
                    </div>
                    <div class="col-xs-3 text-right">
                        <p><a href="" title="Everyone can see your profile"><i class="fa fa-globe"></i> Everyone</a>
                        </p>
                    </div>
                </div>
                <div class="grid-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                        <li class=""> <% if(flag2){ %>
                            <a href="/createBlog"><button class="btn btn-info">Create new Pen</button></a>
                            <% } %></li>
                            <% if(flag){ %>
                                <form action="/<%= user._id %>/addFollower" method="POST">
                                    <button class="btn btn-success" style="width:80px;height:50px;font-size:20px;margin:10px;margin-left:80%">Follow</button>
                                </form>
                                <% }%>
                    </ul>
                    <div class="tab-content">
                        <!-- BEGIN PROFILE -->
                        <div class="row">
                            <div class="col-sm-4 stats">
                                <a href="/<%= user._id %>/follows/1">
                                    <h1><%= user.followers.number %></h1>
                                    <span>Followers</span>
                                </a>
                            </div>
                            <div class="col-sm-4 stats">
                                <a href="/<%= user._id %>/follows/0">
                                    <h1><%= user.following.number %></h1>
                                    <span>Followings</span>
                                </a>
                            </div>
                            <div class="col-sm-4 stats">
                                <h1> <%= user.reputation %></h1>
                                <span>Reputation</span>
                            </div>

                        </div>

                    </div>
                    <% user.posts.forEach(function(post){ %>
                    <br>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><%- post.text %></p><hr>
                            <div class="outer">
                                <h5 class="card-title">
                                    <% post.tag.forEach(function(tag){%>
                                    <button class="button button5"><%= tag %></button>
                                    <% }) %>
                                </h5>
                                <% if(post.author._id.equals(current)){ %>
                                <div class="inner">

                                    <form action="/del/<%= post.author._id %>/<%= post._id %>?_method=DELETE"
                                        method="POST">
                                        <button style="border: none; background-color: rgba(0, 0, 0, 0);">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="inner">
                                    <form action="/<%= post._id %>/edit" method="GET">
                                        <button class="button button4">edit</button>
                                    </form>
                                </div>
                                <% } %>
                            </div>

                        </div>
                    </div>
                    <% })%>


                </div>
            </div>

        </div>
    </div>
</div>

</html>