<%- include("./partials/header") %>
<style>
    .create-post {
        background: inherit;
        border: 5px solid white;
        padding: 15px;
        color: white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 150px;
    }

    .inner {
        background-color: white;

        padding: 10px;
        margin-left: 15%;
        margin-right: 40%;
        width: 70%;
        text-align: center;
        border: 2px solid white;
        padding: 20px;
        -webkit-box-shadow: 0px 20px 20px rgb(150, 27, 97);
        -moz-box-shadow: 0px 20px 20px rgb(150, 27, 97);
        box-shadow: 0px 8px 8px rgb(150, 27, 97);
    }


    .button4 {
        background: #FFB75E;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ED8F03, #FFB75E);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 20px;
    }

    .button5 {
        background: #ec008c;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fc6767, #ec008c);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 20px;
        border-radius: 4px;
    }


    .button {
        background: inherit;
        border: 5px solid white;
        padding: 15px;
        color: white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 110px;
    }

    body {
        background: #DAE2F8;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        font-family: 'Pacifico', cursive;
        font-size: 20px;
    }

    .card-footer{
        padding: 10px;
        margin-left: 25%;
        background: #ADA996;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin-left: 15%;
        margin-right: 40%;
        width: 70%;
        text-align: center;
        border: 2px solid white;
        padding: 20px;
        -webkit-box-shadow: 0px 20px 20px rgb(150, 27, 97);
        -moz-box-shadow: 0px 20px 20px rgb(150, 27, 97);
        box-shadow: 0px 8px 8px rgb(150, 27, 97);
    }

    .comment-div{
        overflow: auto;
        background: #6441A5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .inner-comment-div{
        overflow: auto;
        background: #e65c00;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F9D423, #e65c00);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F9D423, #e65c00);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    input,textarea {
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
        border-bottom: 2px solid lightblue;
        background-color: rgba(0, 0, 0, 0);
    }
</style>
</head>

<body>
    <div class="inner">
        <%- post.text %>
    </div><br><br>
    
    <div class="card-footer">
        <form action="/<%= post._id %>/increaseLike/<%= post._id %>" method="POST">
            <button style="border: none; background-color: rgba(0, 0, 0, 0);">
                <i class="glyphicon glyphicon-heart" style="color:red;height: 30px;"></i>
            </button>
            <%= post.likes.number %>
        </form>
        <form action="/<%= post._id %>/addComment/<%= post._id %>" method="POST">
            
            <textarea name="comment_text" cols="50" style="border-bottom: 2px solid rgba(0,0,0,0.75);"></textarea>
            <button class="btn btn-info">Comment</button>
        </form>
        <hr>
        <h4>Comments:</h4>
        <% post.comments.forEach(function(comment){ %>
        <div style="font-size: 15px;margin:10px; padding: 5px; border-radius: 10px; background-color: rgba(0, 0, 0, 0.75); color: white;"
            class="comment-div">
            <p>
                <a href="/<%= post.author._id %>/profile">@<%= post.author.username %></a>
                &nbsp; &nbsp;
                <%= comment.text %>
            </p>
            <p>by - <a href="/<%= comment.author._id %>/profile"><%= comment.author.username %></a></p>
            <form action="/<%= comment._id %>/commentLike/<%= post._id %>" style="float: left;" method="POST">
                <button style="border: none; background-color: rgba(0, 0, 0, 0);">
                    <i class="glyphicon glyphicon-heart" style="color:red"> </i>
                </button>
                <%= comment.likes.number %> &nbsp;&nbsp;
            </form>
            <% if(isLoggedIn && (String(curUserId) == String(comment.author._id))){ %>
                <form action="/deleteComment/<%= comment._id %>/<%= post._id %>"
                    method="POST">
                    <button style="border: none; background-color: rgba(255, 255, 255, 0);margin-right: 90%;">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </form>
            <% } %>
            <form action="/<%= comment._id %>/<%= comment.author._id %>/addInnerComment/<%= post._id %>" method="POST">
                <textarea name="comment_text" cols="50"></textarea>
                <button class="btn btn-success">Comment</button>
            </form>
            <% comment.innerComments.forEach(function(innerC){ %>
            <div
                style="margin-left: 40px; border:1px solid white; border-radius: 10px; padding: 5px; margin-top: 5px; margin-bottom: 5px;" class="inner-comment-div">
                <a href="<%= innerC.Tauthor._id %>/profile/">@<%= innerC.Tauthor.username %></a>
                <p><%= innerC.text %></p>
                <a href="<%= innerC.Fauthor._id %>/profile/">-<%= innerC.Fauthor.username %></a><br>
                <form action="/<%= innerC._id %>/innerCommentLike/<%= post._id %>" method="POST" style="float: left;">
                    <button style="border: none; background-color: rgba(0, 0, 0, 0); ">
                        <i class="glyphicon glyphicon-heart" style="color:red;"> </i>
                    </button>
                    <%= innerC.likes.number %>&nbsp;&nbsp;
                </form>
                <% if(isLoggedIn && (String(curUserId) == String(innerC.Fauthor._id))){ %>
                    <form action="/deleteInnerComment/<%= innerC._id %>/<%= post._id %>"
                        method="POST">
                        <button style="border: none; background-color: rgba(0, 0, 0, 0);margin-right: 90%;">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                <% } %>
                <form action="/<%= comment._id %>/<%= innerC.Fauthor._id %>/addInnerComment/<%= post._id %>" method="POST">
                    <textarea name="comment_text" cols="50"></textarea>
                    <button class="btn btn-info">comment</button>
                </form>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </div>

    <% if(flag){ %>
    <script>alert('You must a have a reputation greater than 10 inks for upvoting')</script>
    <% } %>



    <%- include("./partials/footer") %>